* , *{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body{
    width: auto;
    overflow: hidden;
    background-color: black;
}

header{
    position: fixed;
    color: white;
    margin-top: -9%;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 30px;
}

nav{
    display: none;
}

footer{
    position: fixed;
    width: 100%;
    color: darkslategray;
    margin-top: -30%;
    font-size: 9px;
    text-align: center;
}

#sektioner{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.sektion{
    display: inline-block;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.Art{
    display: none;
    width: 90%;
    height: auto;
}

.Card{
    width: 50%;
    height: auto;
}

.knappNext{
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}   

.knappNext:hover{
    border-color: white;
}

.knappNext span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.knappNext span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}
  
.knappNext:hover span{
    padding-right: 12px;
}
  
.knappNext:hover span:after{
    opacity: 1;
    right: 0;
}

.knappPre{
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 65px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}

.knappPre:hover{
    border-color: white;
}

.knappPre span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.knappPre span:after{
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -5px;
    transition: 0.5s;
}
  
.knappPre:hover span{
    padding-left: 12px;
}
  
.knappPre:hover span:after{
    opacity: 1;
    left: 0;
}

#knappPrePlaceholder{
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    padding: 10px;
    width: 65px;
    cursor: default;
}

#knappPrePlaceholder:hover span:after{
    opacity: 0;
    left: 0;
}

.knappNextPlaceholder{
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    padding: 10px;
    width: 50px;
    margin: 3px;
} 

@media only screen and (min-width: 1000px){
    
    header{
        margin-top: -9%;
    }

    h1{
        font-size: 50px;
    }

    footer{
        margin-top: -26%;
    }

    .Card{
        width: 35%;
        padding-right: 2%;
    }

    .knappNext{
        border-radius: 4px;
        font-size: 28px;
        padding: 20px;
        width: 100px;
        margin: 5px;
    }
 
    .knappNext span:after{
        right: -20px;
    }
      
    .knappNext:hover span{
        padding-right: 24px;
    }
    
    .knappPre{
        border-radius: 4px;
        font-size: 28px;
        padding: 20px;
        width: 130px;
        margin: 5px;
    }   
 
    .knappPre span:after{
        left: -15px;
    }
      
    .knappPre:hover span{
        padding-left: 24px;
    }
    
    #knappPrePlaceholder{
        width: 130px;
    }   
    
    .knappNextPlaceholder{
        border-radius: 4px;
        padding: 20px;
        width: 100px;
        margin: 5px;
    }
}

@media only screen and (min-width: 1400px){
    
    header{
        margin-top: -9%;
        width: 100%;
    }

    h1{
        font-size: 50px;
    }

    footer{
        width: 100%;
        margin-top: -25%;
    }

    .Card{
        width: 20%;
        padding-right: 2%;
    }

    .Art{
        width: 70%;
    }

    .knappNext{
        margin-top: 6%;
    }

    .knappPre{
        margin-top: 6%;
    }

    #knappPrePlaceholder{
        width: 175px;
    }

    nav{
        display: block;
        margin-top: -10%;
    }

    .navbar{
        width: 5rem;
        height: 100vh;
        position: fixed;
        transition: 200ms ease;
    }

    .navbar-nav{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item{
        width: 100%;
    }

    .nav-link{
        display: flex;
        align-items: center;
        height: 5rem;
        color: orange;
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: 2000ms ease;
    }

    .nav-link:hover{
        filter: grayscale(0%) opacity(1);
    }

    .link-text{
        display: none;
        margin-left: 1rem;
    }

    .nav-link img{
        margin: 0 1.5rem;
    }

    .navbar:hover{
        width: 16rem;
        border-right: orange 0.05px solid;
        transition: 1000ms ease;
    }

    .navbar:hover .link-text{
        display: block;
        animation: fadeIn ease 1000ms;
    }

    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .logo{
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }

    .nav-bild{
        width: 3rem;
    }
}