* , *{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body{
    width: auto;
    overflow: hidden;
    background-color: black;
}

#sektioner{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}

.sektion{
    display: inline-block;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

img{ /* --Temp-- */ 
    height: 100px;
    width: 100px;
}