* , *{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body{
    width: auto;
    overflow: hidden;
    background-color: black;
}

#sektioner{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}

.sektion{
    display: inline-block;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.Art{
    display: none;
    width: 90%;
    height: auto;
}

.Card{
    width: 50%;
    height: auto;
}

.knappNext{
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}   

.knappNext:hover{
    border-color: white;
}

.knappNext span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.knappNext span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}
  
.knappNext:hover span{
    padding-right: 12px;
}
  
.knappNext:hover span:after{
    opacity: 1;
    right: 0;
}

.knappPre{
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 65px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}   

.knappPre:hover{
    border-color: white;
}

.knappPre span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.knappPre span:after{
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -5px;
    transition: 0.5s;
}
  
.knappPre:hover span{
    padding-left: 12px;
}
  
.knappPre:hover span:after{
    opacity: 1;
    left: 0;
}

.knappPrePlaceholder{
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    padding: 10px;
    width: 65px;
    margin: 3px;
}   

.knappNextPlaceholder{
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    border: black 1px solid;
    padding: 10px;
    width: 50px;
    margin: 3px;
} 

@media only screen and (min-width: 1000px){
    
    .Card{
        width: 35%;
    }

    .knappNext{
        border-radius: 4px;
        font-size: 28px;
        padding: 20px;
        width: 100px;
        margin: 5px;
    }
 
    .knappNext span:after{
        right: -20px;
    }
      
    .knappNext:hover span{
        padding-right: 24px;
    }
    
    .knappPre{
        border-radius: 4px;
        font-size: 28px;
        padding: 20px;
        width: 130px;
        margin: 5px;
    }   
 
    .knappPre span:after{
        left: -15px;
    }
      
    .knappPre:hover span{
        padding-left: 24px;
    }
    
    .knappPrePlaceholder{
        border-radius: 4px;
        padding: 20px;
        width: 130px;
        margin: 5px;
    }   
    
    .knappNextPlaceholder{
        border-radius: 4px;
        padding: 20px;
        width: 100px;
        margin: 5px;
    } 
}

@media only screen and (min-width: 1400px){
    
    .Card{
        width: 20%;
    }

    .Art{
        width: 80%;
    }

}